<ion-view view-title="Breakfast">
    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar>
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content>
        <div class="cate-lv2">
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap" ng-click="productDetail()">
                    <img src="img/breakfast/thumb1.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$10.00</div>
                    <div class="like"><i class="ion-heart"></i> 2145</div>
                </div>
            </div>
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/breakfast/thumb2.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$5.00</div>
                    <div class="like"><i class="ion-heart"></i> 738</div>
                </div>
            </div>
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/breakfast/thumb3.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$24.00</div>
                    <div class="like"><i class="ion-heart"></i> 1029</div>
                </div>
            </div>
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/breakfast/thumb4.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$7.00</div>
                    <div class="like"><i class="ion-heart"></i> 802</div>
                </div>
            </div>
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/breakfast/thumb5.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$10.00</div>
                    <div class="like"><i class="ion-heart"></i> 2145</div>
                </div>
            </div>
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/breakfast/thumb6.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$5.00</div>
                    <div class="like"><i class="ion-heart"></i> 738</div>
                </div>
            </div>
            <div class="card cate-lv2-item">
                <div class="item item-thumbnail-left item-text-wrap">
                    <img src="img/breakfast/thumb7.jpg">

                    <h2>Sausage Egg Casserole</h2>

                    <p>Nine Inch Nails</p>

                    <div class="price">$24.00</div>
                    <div class="like"><i class="ion-heart"></i> 1029</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
