/* Empty. Add your own CSS if you like */

$brand-primary:                   #86d44d;
$brand-secondary:                 #323a45;

@font-face {
  font-family: 'Berkshire Swash';
  src: url('../fonts/berkshireswashregular.eot');
  src: url('../fonts/berkshireswashregular.eot') format('embedded-opentype'),
  url('../fonts/berkshireswashregular.woff2') format('woff2'),
  url('../fonts/berkshireswashregular.woff') format('woff'),
  url('../fonts/berkshireswashregular.ttf') format('truetype'),
  url('../fonts/berkshireswashregular.svg#berkshireswashregular') format('svg');
}


body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* MENU SIDEBAR LEFT */
.sidebar{
  .item{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/* MENU SIDEBAR LEFT */

.slide-intro{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  .slide-intro-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    .info{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#page-intro{
  position: relative;
  width: 100%;
  height: 100%;
  .slider{
    height: 100%;
  }
  #slide-intro-1{
    background: url("../img/intro_bg1.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:before{
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.6);
    }
  }
  #slide-intro-2{
    background: url("../img/intro_bg2.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:before{
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.6);
    }
  }
  .slide-intro{
    .info{
      .logo{
        span{
          font-family: 'Berkshire Swash';
          font-size: 50px;
          color: #fff;
          margin-bottom: 50px;
          display: inline-block;
        }
      }
      p{
        color: #f0f0f0;
        margin-bottom: 0;
      }
    }
  }
  .button-get-started{
    min-width: 170px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -85px;
  }
}

/* PAGE CATEGORY */
.cate-lv1{
  list-style: none;
  margin: 0;
  padding: 0;
  .cate-lv1-item{
    display: table;
    width: 100%;
    height: 140px;
    margin-bottom: 2px;
    position: relative;
    &:last-child{
      margin-bottom: 0;
    }
    &.item-1{
      background: url("../img/category/1.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      &:before{
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
      }
    }
    &.item-2{
      background: url("../img/category/2.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      &:before{
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
      }
    }
    &.item-3{
      background: url("../img/category/3.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      &:before{
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
      }
    }
    &.item-4{
      background: url("../img/category/4.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      &:before{
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
      }
    }
    &.item-5{
      background: url("../img/category/5.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      &:before{
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
      }
    }
    .item-wrapper{
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      h2{
        font-size: 30px;
        color: #FFFFFF;
        margin-bottom: 5px;
      }
      p{
        color: rgba(255,255,255,0.7);
        margin-bottom: 0;
      }
    }
  }
}
.cate-lv2{
  .cate-lv2-item{
    margin: 5px 10px;
    &:first-child{
      margin-top: 10px;
    }
    &:last-child{
      margin-bottom: 10px;
    }
    .item{
      > img{
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 80px;
        max-height: 80px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
      p{
        margin-bottom: 24px;
      }
      .price{
        float: left;
        font-weight: bold;
        color: $brand-primary;
      }
      .like{
        float: right;
        color: #cccccc;
      }
    }
  }
}
/* PAGE CATEGORY */

/* PAGE PRODUCT */
.product-header{
  position: relative;
  height: 300px;
  background: url("../img/category/5.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:before{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
  }
  .product-name{
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    position: absolute;
    left: 20px;
    bottom: 35px;
  }
  .product-price{
    font-size: 16px;
    font-weight: bold;
    color: $brand-primary;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .product-like{
    .button{
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
      padding-right: 0;
      padding-left: 0;
      font-size: 20px;
      min-width: initial;
      min-height: 31px;
      line-height: 32px;
      z-index: 10;
      border-color: transparent;
      background: 0 0;
      box-shadow: none;
      i{
        &.active{
          color: #ff5c5d;
        }
      }
    }
  }
}
.product-body{
  padding: 20px;
  .product-info{
    color: #777777;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .product-quantity{

  }
}
/* PAGE PRODUCT */

/* PAGE PROFILE */
#page-profile{
  background: url("../img/intro_bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  &:before{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
  }
  .box{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    .info{
      display: table-cell;
      vertical-align: middle;
      .avatar{
        img{
          width: 110px;
          height: 110px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255,255,255,0.2);
        }
      }
      h2.name{
        margin-bottom: 10px;
        color: #ffffff;
        font-weight: normal;
      }
      .position{
        color: rgba(225,255,255,.7);
        margin-bottom: 130px;
      }
      .links{
        color: #ffffff;
        text-align: center;
        .number{
          display: block;
          font-size: 30px;
          font-weight: normal;
          margin-bottom: 10px;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
  }
}
/* PAGE PROFILE */