<ion-view>
    <ion-header-bar align-title="center" class="bar-light">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="cate-lv1">
            <li class="item-1 cate-lv1-item" ui-sref="app.breakfast_menu">
                <div class="item-wrapper">
                    <h2>Breakfast</h2>
                    <p>Enthusiastically architect.</p>
                </div>
            </li>
            <li class="item-2 cate-lv1-item">
                <div class="item-wrapper">
                    <h2>Dinner</h2>
                    <p>Enthusiastically architect.</p>
                </div>
            </li>
            <li class="item-3 cate-lv1-item">
                <div class="item-wrapper">
                    <h2>Dessert</h2>
                    <p>Enthusiastically architect.</p>
                </div>
            </li>
            <li class="item-4 cate-lv1-item">
                <div class="item-wrapper">
                    <h2>Coffee</h2>
                    <p>Enthusiastically architect.</p>
                </div>
            </li>
            <li class="item-5 cate-lv1-item">
                <div class="item-wrapper">
                    <h2>Special drinks</h2>
                    <p>Enthusiastically architect.</p>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
